---
Checks: >
  clang-analyzer-core.*,
  clang-analyzer-cplusplus.*,
  -clang-analyzer-cplusplus.InnerPointer,
  -clang-analyzer-cplusplus.PlacementNew,
  -clang-analyzer-cplusplus.StringChecker,
  clang-analyzer-deadcode.DeadStores,
  clang-analyzer-optin.core.EnumCastOutOfRange,
  clang-analyzer-optin.performance.Padding,
  -clang-analyzer-security.*,
  clang-analyzer-security.ArrayBound,
  clang-analyzer-security.cert.env.InvalidPtr,
  clang-analyzer-security.insecureAPI.UncheckedReturn,
  clang-analyzer-security.PointerSub,
  clang-analyzer-security.VAList,
  clang-analyzer-unix.API,
  clang-analyzer-unix.cstring.*,
  clang-analyzer-unix.Malloc,
  clang-analyzer-unix.MallocSizeof,
  clang-analyzer-unix.MismatchedDeallocator,
  clang-analyzer-unix.StdCLibraryFunctions,
  misc-redundant-expression,
  misc-static-assert,
  readability-duplicate-include,
  readability-inconsistent-declaration-parameter,
  readability-misplaced-array-index,
  readability-redundant-function-ptr-dereference,
  readability-redundant-nested-if,
  readability-redundant-preprocessor,
  readability-reference-to-constructed-temporary,
  readability-static-accessed-through-instance,
  readability-trivial-switch,
...
